.main {
  margin-left: 8rem;
  margin-top: 3rem;
  width: 90%;
  max-width: auto;
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 1rem;

    margin-top: 3rem;
    width: 100%;
    max-width: auto;
    overflow-x: hidden;
  }
}
