.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
