.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.badge {
  margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
  .movieGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .movieGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 1rem;
  }
}
