.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.badge {
  margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
  .movieGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .movieGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
