.genre {
  margin-right: 1rem;
  width: auto;
  height: 10rem;
  background-color: rgb(40, 40, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
}
